/* reset */

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


/* style */

/*header*/
header {
  position: absolute;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 30px;
  padding-top: 30px;
  background: none;
  width: 100%;
}
header .container {
    display: flex;
    align-items: center;
}
.nav-menu {
  align-items: center;
}
.nav-menu-list {
  position: absolute;
  display: flex;
  color: white;
  gap: 40px;
  transform: translateY(-25%)
}
.nav-menu-item {
  color: #ffffff;
}
.link {
  text-decoration: none;
  line-height: 1.4;
  size: 14px;
  color: #ffffff;
  height: 20px;
}
.nav-menu-item-after {
  margin-right:185px
}
.nav-menu-icon{
  position: relative;
  left: 927px;
  transform: translateY(25%);
}
/*svg-icon*/

.logo{
  width: 153px;
  height: 46px;
  margin-right: 124px;
}

.icon-header{
  width: 36px;
  height: 36px;
  display: block;
  position: relative;
  fill: #ffffff;
  transform: translateY(-20%);
}
.div-icon-header{
  gap: 20px;
  display: flex;
}

.icon-svg1:hover{
  fill: red;
}
.icon-svg2:hover{
  fill: blue;
}
/* main html */
.button-a{
  cursor: pointer;
}
/*hero*/
.h1-hero{
  width: 636px;
  height: 201px;
  padding-top: 306px;
  margin-bottom: 68px;
}
.hero{
  background-image: url(../images/backgraung.png);
}
/* hero-btn */
.hero-list {
  display: flex;
  gap: 12px;
}
.hero-list-item-btn {
  position: relative;
  padding: 35px 0 40px 35px;
  background-color: #8D86C9;
  width: 315px;
  height: 151px;
  font-weight: 600;
  font-size: 18px;
  border: 0;

  text-align: start;
  color: white;
}
.svg-hero-list-item-btn{
  position: absolute;
  width: 315px;
  height: 151px;
}
.hero-list-item-btn > span {
  display: block;
  margin-top: 17px;
  font-weight: 700;
  font-size: 24px;
}
.svg-hero-list-item-btn.element{
  fill: #ffffff;
  width: 20px;
  height: 20px;
  left: 255px;
  top: 77px;
}
/* foto-list */

.foto{
  background-color: #ffffff;
}
.images{
  display: flex;
  padding-top: 150px;
  gap: 24px;
}
.foto-list{
  text-align: center;
  color: #ffffff;
  padding-top: 334px;
}
.foto-list-item1{
  width: 376px;
  height: 450px;
  background-image: url(../images/foto-list1.png);
}

.foto-list-item2{
  width: 376px;
  height: 450px;
  background-image: url(../images/foto-list2.png);
}
.foto-list-item3{
  width: 376px;
  height: 450px;
  background-image: url(../images/foto-list3.png);
}
.foto-border{
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #F7ECE1;
}
/*trener-list*/
.portfolio{
  background-color: #ffffff;
}
.h2-portfolio{
  display: inline-block;
  padding-top: 150px;
  margin-bottom: 75px;
  color: #333333;
}
.svg-portfolio-btn {
  padding: 0;
  border: 0;
  width: 45px;
  height: 45px;
  background-color: #8D86C9;
}
.svg-portfolio-btn.element1{
  margin-left: 853px;
}
.svg-portfolio-btn.element2{
  margin-left: 15px;
}
.svg-portfolio {
  width: 45px;
  height: 45px;
}
.svg-vector{
  position: relative;
  width: 31px;
  height: 31px;
  transform: translate(13%, 15%);
}

/* trener-list */
.trener-list{
  display: flex;
  gap: 24px;
}
.trener{
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #F7ECE1;
  margin-bottom: 25px;
}
.trener-name{
  text-align: center;
  margin-bottom: 15px;
}

/* abonement */
.abonement-sevis {
  display: flex;
  background-color: #ffffff;
  padding-bottom:150px;
}

.abonement-text {
  margin-top: 150px;
  margin-bottom: 75px;
}

.abonements {
  margin-bottom: 31px;
}
.abonements.element4{
  padding-bottom: 0px;
}

.abonement-btn {
  color: #ffffff;
  background-color: #8D86C9;
  border: 0;
  width: 526px;
  height: 59px;
  padding: 0;
  padding-left: 30px;
  text-align: start;
}
.img-abonement{
  width: 30px;
  height: 30px;
  position: relative;
  right: 60px;
  top: 8px;
}
/* container */

.container {
  max-width: 1296px;
  margin: 0 auto;
}

/* block html */
.boxs {
  max-width: 1040px;
  border: 1px solid #ffffff;
}

.show {
  display: inline-block;
  padding: 12px 28px;

  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;

  border: 1px solid #ffffff;
}
.show:focus {
  border: 10px solid aqua;
  outline: 1px solid coral;
}
