/* reset */
a{
  text-decoration: none;
  color: #ffffff;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button{
  cursor: pointer;
}

/* style */

/*header*/
header {
  position: absolute;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 30px;
  padding-top: 30px;
  background: none;
  width: 100%;
}
header .container {
    display: flex;
    align-items: center;
}
.nav-menu {
  align-items: center;
}
.nav-menu-list {
  position: absolute;
  display: flex;
  color: white;
  gap: 40px;
  transform: translateY(-25%)
}
.nav-menu-item {
  color: #ffffff;
}
.link {
  text-decoration: none;
  line-height: 1.4;
  size: 14px;
  color: #ffffff;
  height: 20px;
}

.nav-menu-icon{
  position: relative;
  left: 927px;
  transform: translateY(25%);
}
/*svg-icon*/

.logo{
  width: 153px;
  height: 46px;
  margin-right: 124px;
}

.icon-header{
  width: 36px;
  height: 36px;
  display: block;
  position: relative;
  fill: #ffffff;
  transform: translateY(-20%);
}
.div-icon-header{
  gap: 20px;
  display: flex;
}

.icon-svg1:hover{
  fill: red;
}
.icon-svg2:hover{
  fill: blue;
}
.icon-svg3:hover{
  fill: rgb(0, 140, 255);
}
/* main html */
.button-a{
  cursor: pointer;
}
/*hero*/
.h1-hero{
  width: 636px;
  height: 201px;
  padding-top: 306px;
  margin-bottom: 68px;
}
.hero{
  background-image: url(../images/backgraung.png);
}
/* hero-btn */
.hero-list {
  display: flex;
  gap: 12px;
}
.hero-list-item-btn {
  position: relative;
  padding: 35px 0 40px 35px;
  background-color: #8D86C9;
  width: 315px;
  height: 151px;
  font-weight: 600;
  font-size: 18px;
  border: 0;

  text-align: start;
  color: white;
}
.svg-hero-list-item-btn{
  position: absolute;
  width: 315px;
  height: 151px;
}
.hero-list-item-btn > span {
  display: block;
  margin-top: 17px;
  font-weight: 700;
  font-size: 24px;
}
.svg-hero-list-item-btn.element{
  fill: #ffffff;
  width: 20px;
  height: 20px;
  left: 255px;
  top: 77px;
}
/* text-photo */
.block > h2.h2{
  padding-left: 146px;
  padding-top: 70px;
  text-align: start;
}
.text{
  padding-left: 146px;
  text-align: start;
  max-width: 430px;
  padding-top: 25px;
}

.h4-text{
  padding-top: 35px;
  padding-bottom: 25px;
}
.block{
  width: 636px;
  height: 654px;
  background-color: #F7ECE1;
  margin-left: 550px;
}
.text-foto{
  display: flex;
  margin-top: 150px;
}
.img-text-foto{
  position: absolute;
  padding-top: 70px;
  left: 422px;
}
.ul-block{
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  max-width: 400px;
}
.icon-text::before{
  margin-right: 23px;
  display: inline-block;
  content:'';
  width: 8px;
  height: 8px;
  background-color: #8D86C9;
}
/* foto-list */

.foto{
  background-color: #ffffff;
}
.images{
  display: flex;
  padding-top: 150px;
  gap: 24px;
}
.foto-list{
  text-align: center;
  color: #ffffff;
  padding-top: 334px;
}
.foto-list-item1{
  width: 376px;
  height: 450px;
  background-image: url(../images/foto-list1.png);
}

.foto-list-item2{
  width: 376px;
  height: 450px;
  background-image: url(../images/foto-list2.png);
}
.foto-list-item3{
  width: 376px;
  height: 450px;
  background-image: url(../images/foto-list3.png);
}
.foto-border{
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #F7ECE1;
}
/*trener-list*/
.portfolio{
  background-color: #ffffff;
}
.h2-portfolio{
  display: inline-block;
  padding-top: 150px;
  margin-bottom: 75px;
  color: #333333;
}
.svg-portfolio-btn {
  padding: 0;
  border: 0;
  width: 45px;
  height: 45px;
  background-color: #8D86C9;
}
.svg-portfolio-btn.element1{
  margin-left: 853px;
}
.svg-portfolio-btn.element2{
  margin-left: 15px;
}
.svg-portfolio {
  width: 45px;
  height: 45px;
}
.svg-vector{
  position: relative;
  width: 31px;
  height: 31px;
  transform: translate(13%, 15%);
}

/* trener-list */
.trener-list{
  display: flex;
  gap: 24px;
}
.trener{
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #F7ECE1;
  margin-bottom: 25px;
}
.trener-name{
  text-align: center;
  margin-bottom: 15px;
}
/*abonser*/
.abon-servis{
  display: flex;
  gap: 134px;
}
/* abonement */
.abonement-sevis {
  display: flex;
  background-color: #ffffff;
  padding-bottom:150px;
}

.abonement-text {
  margin-top: 150px;
  margin-bottom: 75px;
}

.abonements {
  margin-bottom: 31px;
}
.abonements.element4{
  padding-bottom: 0px;
}

.abonement-btn {
  color: #ffffff;
  background-color: #8D86C9;
  border: 0;
  width: 526px;
  height: 59px;
  padding: 0;
  padding-left: 30px;
  text-align: start;
}
.img-abonement{
  width: 30px;
  height: 30px;
  position: relative;
  right: 60px;
  top: 8px;
}
/* servis */
.servis{
  margin-top: 150px;
}
.servis-buton{
  display: flex;
}

.servis-svg{
  width: 45px;
  height: 45px;
}
.buton{
margin-left: 366px;
}
.servis-use{
  transform: translate(14%, 16%);
}
.h2-servis{
  display: inline-block;
}
.servis-btn{
  margin-left: 15px;
}
.servis-img-border{
  margin-top: 75px;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 25px;
  padding-right: 25px;
  border: 1px solid #F7ECE1;
}
.servis-img{
  width:546px;
  height: 270px;
  background-image: url(../images/Cofe.png);
}
.h3-servis{
  padding-top: 202px;
  padding-left: 40px;
}
/* swaper */
.swiperr{
  margin-top: 75px;
}

.swiper {
  width: 856px;
  height: 100%;
}

.swiper-slide {
  width: 208px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: block;
  justify-content: center;
  align-items: center;
}

/* container */

.container {
  max-width: 1296px;
  margin: 0 auto;
}
/* future */
footer{
  background-color: #F7ECE1;
  padding-bottom: 30px;
  padding-top: 30px;
  width: 100%;

}
footer .container {
    display: flex;
    align-items: center;
}
.nav-menu-item .element{
  color: #333333;
}
.nav-menu-icon-footer{
  position: relative;
  transform: translateY(25%);
  left: 1142px;
}
.footer-link{
  color: #333333;
  text-decoration: none;
}
#footer1{
  color: #333333;
  opacity: 0.3;
  padding-right: 64px;
}
.footer-icon{
  width: 36px;
  height: 36px;
  display: block;
  position: relative;
  fill: #8D86C9;
  transform: translateY(-20%);
}
.nav-menu-list-footer{
  position: absolute;
  display: flex;
  gap: 40px;
  transform: translateY(-25%)
}
/* block html */
.boxs {
  max-width: 1040px;
  border: 1px solid #ffffff;
}

.show {
  display: inline-block;
  padding: 12px 28px;

  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;

  border: 1px solid #ffffff;
}
.show:focus {
  border: 10px solid aqua;
  outline: 1px solid coral;
}
